ul.ul-exp li {
  position: relative;
  padding: 0px 15px 4px 3px;
  background-color: red;
}

ul.ul-exp li .description p {
  margin: 0;
}

ul.ul-exp li .description p.course {
  font-size: 0.9rem;
}

ul.ul-exp li .description p.institution {
  font-size: 0.75rem;
  color: rgba(0,0,0,0.6);
}
